<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
    {% block html_title %}
    Default title of my website
    {% endblock html_title%}
    </title>
</head>
<header>
    <table bgcolor="#c0c0c0"  width="100%">
        <tr>
            <td><h1><a href="/">My First Website!</a></h1></td>
            <td><a href="/subjects/">Боти ЗНО</a></td>
            <td><a href="/contact-us/">Contacts</a></td>
            <td><a href="/feedbacks/">Feedbacks</a></td>
            <td><a href="/about/">About</a></td>
            <td><a href="/admin/">Admin</a></td>
        </tr>
    </table>
</header>
<!-- <body>
    <header>
        <h1>My first website!</h1>
    </header> -->
    {% block content %}
    {% endblock content %}

</body>
</html>