<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Today {{now|date:"D d M Y"}}</p>
    <h2>Information about yourself</h2>
    <p>Name - {{name}}</p>
    <p>City - {{city}}</p>
    <p>Birthday - {{birthday}}</p>
    <!-- <ul>
        {% for value in Information_about_yourself %}
        <li>{{value}}</li>
        {% endfor %}
    </ul> -->
</body>
</html>